<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portafolio</title>
	<link rel="stylesheet" href="../static/css/reticula.css">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="../static/slide.js"></script>
</head>
<body>

	<header>
		<div class="container">
			<h1 class="row color center title">Cecilia Cortez Acosta</h1>
		</div>
	</header>

	<section class="container">
		<figure class="row center image">
			<img class="row personal_image" src="../static/images/Me.jpg" alt="imagen de portada">
		</figure>
		<div class="row contenido">
			<div class="col-2" >
			</div>
			<div class="slide">
     			<figure>
          			<img class="img1" alt="alt img1" src="../static/images/group/botana.jpg"/>
          			<img class="img2" alt="alt img2" src="../static/images/group/up_page.jpg"/>
          			<img class="img3" alt="alt img3" src="../static/images/group/down_page.jpg"/>
          			<img class="img4" alt="alt img4" src="../static/images/group/up_todo.jpg"/>
          			<img class="img5" alt="alt img5" src="../static/images/group/down_todo.jpg"/>
          			<img class="img6" alt="alt img6" src="../static/images/group/up_venna.jpg"/>
          			<img class="img7" alt="alt img7" src="../static/images/group/down_venna.jpg"/>
          			<img class="img8" alt="alt img8" src="../static/images/group/fam_flores.jpg"/>
          			<img class="img9" alt="alt img9" src="../static/images/group/logo_400.jpg"/>
          			<img class="img10" alt="alt img10" src="../static/images/group/logo_aic.jpg"/>
          			<img class="img11" alt="alt img11" src="../static/images/group/logo_todo.jpg"/>
          			<img class="img12" alt="alt img12" src="../static/images/group/venna.jpg"/>
          			<img class="img13" alt="alt img13" src="../static/images/group/venna2.jpg"/>
          			<img class="img14" alt="alt img14" src="../static/images/group/water.jpg"/>
     			</figure>
     		</div>
			<div class="col-2" >
			</div>
		</div>
	</section>
	<footer class="container">
		<div class="row color">
			<figure class="col-8 logos">
				<a href="https://www.linkedin.com/in/cecilia-cortez-acosta-661b05b9" target="_blank">
				<img class="logo" src="../static/images/logo_link.png"></a>
				<a href="https://www.facebook.com/Cetsy.Bonita" target="_blank">
				<img class="logo" src="../static/images/logo_facebook.png"></a>
				<a href="https://twitter.com/Lane1787" target="_blank">
				<img class="logo" src="../static/images/logo_twitter.png"></a>
			</figure>
			<address class="col-4">
				<h3 class="contacto center">Contactame</h3>
				<p class="center">Si deseas ponerme en contacto conmigo mandame correo a esta direccion, lane1787@hotmail.com</p>
			</address>
		</div>
	</footer>
</body>
</html>